<div class="container">
  <h2>Resend unlock instructions</h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="row">  
      <div class="col-md-6 col-md-4 text-left">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter email address" %>
        </div><!--END field-->

        <div class="actions">
          <%= f.submit "Resend unlock instructions", class:"btn btn-primary" %>
        </div><!--END field-->

      <% end %>

    <%= render "devise/shared/links" %>

    </div><!--END col-xs-6 col-md-4-->
  </div><!--END row-->
</div><!--END container-->