<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<button type="button" class="btn btn-default"><%= link_to 'Edit', edit_user_path(@user) %></button> |
<button type="button" class="btn btn-default"><%= link_to 'Back', users_path %></button>
