<div class="col-sm-6 col-md-4">
  <%= image_tag(product.image_url, class: "img-responsive product-img img-rounded") %>
    <h3><strong><%= product.name %></strong></h3>
      <p id="product_description"><%= product.description %></p>
      <p id="product_color">Color: <%= product.color %></p>
      <p id="product_price"><strong>$ <%= product.price %></strong></p>
      <p id="link_product">
        <button type="button" class="btn btn-default"><%= link_to 'Show', product %></button>
        <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_product_path(product) %></button>
        <button type="button" class="btn btn-default"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      </p>
</div><!--END col-sm-6 col-md-4-->