<p id="notice"><%= notice %></p>

<p id="show_product">
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<!--
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
-->
<p id="show_product">
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<p>
  <%= image_tag @product.image_url, class: "img-responsive product-img" %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
