<!--<p id="notice"><%= notice %></p>-->
<div class="container">
  <div class="row" data-product-id="<%= @product.id %>">
    <div class="col-sm-6 col-md-4">

      <div class="thumbnail">

        <% cache @product do %>

        <p id="show_product">
          <strong>Name:</strong>
          <%= @product.name %>
        </p>

        <p id="show_product">
          <strong>Description:</strong>
          <%= @product.description %>
        </p>

        <p id="show_product">
          <strong>Color:</strong>
          <%= @product.color %>
        </p>
       
        <p id="show_product">
          <strong>Price:</strong>
          <%= @product.price %>
        </p>

        <p>
          <!--<%= image_tag @product.image_url, class: "img-responsive product-img, img-rounded" %>-->
          <%= image_tag(@product.image_url, size: "350", class: "img-zoom img-responsive img-rounded", data_zoom_image: @product.image_url) %>
        </p>

        <p>Average Rating: 
          <div class="rated" data-score="<%= @product.average_rating %>"></div> 
        </p>

        <% end %>
        
        <%= form_tag "/payments/create" do %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <% end %>

      </div><!--END thumbnail-->
        <%= render 'new_comment' %> 
        <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
        <%= render 'comments' %>

        <%= will_paginate @comments %>

    </div><!--END col-sm-6 col-md-4-->
  </div><!--END row-->
</div><!--END container-->

  <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_product_path(@product) %></button> |
  <button type="button" class="btn btn-default"><%= link_to 'Back', products_path %></button>
