
<div class="container" id="mleft30">
  <p id="notice"><%= notice %></p>

  <p id="show_product">
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p id="show_product">
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p id="show_product">
    <strong>Color:</strong>
    <%= @product.color %>
  </p>

  <p>
    <%= image_tag @product.image_url, class: "img-responsive product-img" %>
  </p>

  <p id="show_product">
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_product_path(@product) %></button> |
  <button type="button" class="btn btn-default"><%= link_to 'Back', products_path %></button>
</div>